# Plantilla de variables de entorno para servicio systemd
# Todo lo que está escrito entre () ha de sustituirse por los valores necesarios, quitando los ().
# Eliminar comentarios

NOMBRE_VARIABLE=(valor)
NOMBRE_VARIABLE=(valor)
NOMBRE_VARIABLE=(valor)
NOMBRE_VARIABLE=(valor)